<div class="row dark_background center">
  <h2 class="center">Welcome to Warehouse on the Web.</h2>
  <h4 class="home">Warehouse on the Web is a web service that allows sellers to keep track of their item stock via our API using GET and POST requests.</h4>
  <h4 class="home">Click "Sign Up" to sign up for a developer account on behalf of your company!</h4>
  <h4 class="home">Check out the documentation tab to learn how to make API calls to our service.</h4>
</div>