<div class="row dark_background left_padding center">
  <h2>User Stories and Rules</h2>

  <div class="left">
    <h4>Home Page:</h4>
    <ol>
        <li class="uslist">1. The home page displays welcome message. </li></br>
        <li class="uslist">2. The User Stories link is reached by clicking the “User Stories” button in the top right of the page or navigating to /help.</li>
    </ol>


    <h4>Users:</h4>
    <ol>

        <li class="uslist">1. A user can sign up for an account with Shortify by clicking “Sign Up” in the nav and providing a name, email address, and password. User passwords are encrypted.</li>
        <li class="uslist">2. Once a user has made an account, they will be able to click “Sign In” in the nav and will be directed to their account. Users are not automatically signed in by signing up; they will have to manually sign in.</li> 
        <li class="uslist">3. If an unknown user attempts to sign in, the page will refresh and respond with the notice, “Unknown user--trying signing up instead!”</li>
        <li class="uslist">4. If a known user attempts to sign in but provides the wrong password, the page will refresh and respond with the notice, “Incorrect password! Try again.”</li>
        <li class="uslist">5. Once a user has properly signed in, a greeting appears in the nav with their name. They now have access to the “Your Shortified Links” tab in the nav.</li>
        <li class="uslist">6. Users can access their shortified links by either clicking on the short link, which is a random string, or typing "localhost:3000/links/{short link}</li>
        <li class="uslist">7. Clicking on “Your Shortified Links" will reveal a list of the user’s original links, the shortified version, and the number of hits from the short link.</li> 
        <li class="uslist">8. If a user does not have any donations, the “Your Donation History” page will display the message “You have not shortified any urls” and provide a link to do so.</li> 
        <li class="uslist">9. Clicking “Sign Out” in the nav will destroy the user’s session.</li>
    </ol>

    <h4>Donations:</h4>
    <ol>
        <li class="uslist">1. Only signed in users may shortify a url. Clicking on the “Shortify a URL” button without having signed in with return the notice, “Please sign up or sign in to use Shortify.”</li>
        <li class="uslist">2. Once a user is signed in, clicking on the “Shortify a URL!” button will show a form with the entries “Name” and "original URL.”</li>
        <li class="uslist">3. The “Name” box is already filled in with the user’s name and cannot be edited.</li></br>
        <li class="uslist">4. Only urls beginning with "https://" are allowed. Typing in a url that does not follow this format will result in the notice, "Please be sure to include "https://" in your url."</li>
    </ol>


</div>
</div>