<div class="row dark_background center">
  <h2 class="center">Welcome to Warehouse on the Web.</h2>
  <% user = User.find_by_id(session["user_id"]) %>
    <p>Your API key is <%= user.api_key %> </li>

</div>